// MENU
$cor-background-menu: #2CA063;
$cor-background-menu-item-active: #4DBF88;

// VERDE
$cor-verde-normal: #2CA063;
$cor-verde-claro: #4DBF88;
$cor-verde-escuro: #1F7C4D;

// Neutral-colors
$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #f7f2fa;
$white-dark: #edeaef;
$white-light: #fefbff;



// Gray Scale
$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #767576;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #a6a6a7;


